@using FileExtension = Models.FileExtension 

<EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
    <MudDialog>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Size="Size.Small" 
                         Icon="@Icons.Material.Filled.Edit" 
                         class="mr-3"></MudIcon>
                <MudText>@Caption</MudText>
            </div>
        </TitleContent>
        <DialogContent>
            <DataAnnotationsValidator />
            <MudTextField @bind-Value="@Model.Type"
                          For="(() => Model.Type)"
                          Label="Type" />
            <MudTextField @bind-Value="@Model.SubType"
                          For="(() => Model.SubType)"
                          Label="SubType" />
            <MudTextField @bind-Value="@Model.Description"
                          Lines="2"
                          For="(() => Model.Description)"
                          Label="Description" />
            @if (Model.Extensions.Count > 0)
            {
                <MudTable Items="@(Model.Extensions)"
                          Dense
                          Striped>
                    <ToolBarContent>
                        <MudButton Variant="Variant.Outlined"
                                   StartIcon="@Icons.Outlined.Add"
                                   Size="Size.Small"
                                   OnClick="() => OnAddFileExtensionAsync(Model)">
                            Add File Extension
                        </MudButton>
                    </ToolBarContent>
                    <ColGroup>
                        <col />
                        <col style="width: 120px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<FileExtension, object>(x => x.Extension)">
                                Extension
                            </MudTableSortLabel>
                        </MudTh>
                        <MudTh>&nbsp;</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="context2">
                        <MudTd DataLabel="Extension">
                            @context2.Extension
                        </MudTd>
                        <MudTd>
                            <MudTooltip Text="Edit">
                                <MudIconButton Icon="@Icons.Outlined.Edit"
                                               Size="Size.Small"
                                               OnClick="@(() => OnEditFileExtensionAsync(context2))" />
                            </MudTooltip>
                            <MudTooltip Text="Delete">
                                <MudIconButton Icon="@Icons.Outlined.Delete"
                                               Size="Size.Small"
                                               OnClick="@(() => OnDeleteFileExtensionAsync(context2))" />
                            </MudTooltip>
                            <MudTooltip Text="Properties">
                                <MudIconButton Icon="@Icons.Outlined.Settings"
                                               Size="Size.Small"
                                               OnClick=@(() => OnFileExtensionsPropertiesAsync(context2)) />
                            </MudTooltip>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 5, 10 }" />
                    </PagerContent>
                </MudTable>
            }
            else
            {
                <br />
                <MudButton Variant="Variant.Outlined"
                           StartIcon="@Icons.Outlined.Add"
                           Size="Size.Small"
                           OnClick="() => OnAddFileExtensionAsync(Model)">
                    Add File Extension
                </MudButton>
            }
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">
                Cancel
            </MudButton>
            <MudButton Color="Color.Primary" 
                       ButtonType="ButtonType.Submit">
                Save Changes
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
